<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.feedme" android:versionCode="1" android:versionName="1.0-SNAPSHOT">

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activity.SplashActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.SelectChildListActivity" android:label="Add a Child"/>
        <activity android:name=".activity.AddChildActivity"/>
        <activity android:name=".activity.FamilyHomeActivity"/>
        <activity android:name=".activity.AddEntryActivity"/>
        <activity android:name=".activity.ViewBabyActivity"/>
        <activity android:name=".activity.TakePictureActivity"/>
        <activity android:name=".activity.SelectPictureActivity"/>
    </application>

</manifest>

