<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.feedme" android:versionCode="1" android:versionName="1.0-SNAPSHOT">
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="9"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".activity.SplashActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.SelectChildListActivity"
                  android:screenOrientation="portrait"
                  android:label="Add a Child"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.AddChildActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.FamilyHomeActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.AddEntryActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.AddBottleFeedActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.AddBreastFeedActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.ViewBabyActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.TakePictureActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.SelectPictureActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.SettingsActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.ViewEntriesActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.ViewEntryActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.EditChildActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.EditBottleFeedActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.EditBreastFeedActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.AddNapActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.EditNapActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.ViewNapsActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.ReportBugActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name=".activity.TimerActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar"/>
    </application>

</manifest>

